.explore-page {
  background-color: #252525;
}
.slider-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;  
    overflow: hidden;
  
  }
  .image {
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    border-radius: 10px;
    object-position: top;
  }

  .right-arrow {
    position: absolute;
    top: 45%;
    right: 32px;
    font-size: 2rem;
    color: #00A3FF;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background:none;    
  }
  
  .left-arrow {
    position: absolute;
    top: 45%;
    left: 32px;
    font-size: 2rem;
    color: #00A3FF;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
    width: 100%;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    width: 100%;
  }

.dots-container {
  display: flex;
  justify-content: center;
  background:none ;
  position: absolute;
  top: 80%;
  left: 45%;
  color: #00A3FF;
  cursor: pointer;
}
.dot-styles {
  margin: 0 3px;
  cursor: pointer;
  font-size: 60px;
  color: #757575;
  opacity: 80%;
  background:none;
  
}
.selected {
  color: #00A3FF;
  background:none;
  border: none;
  opacity: 100%;
}

.search-btn {
    background-color: #0085ff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    min-width: 150px;
    text-align: center;
    outline : none;
    border: none;
    cursor: pointer;  
    display: flex;
    justify-content: center;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.search-btn:hover {
  background-color: #0260b8;
  color: #ffffff;
  transition: 250ms;
} 