.addgame-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
}

.addgame-form-container{
    width: 50%;
    padding: 48px;
    box-shadow: 0px 0px 21px rgb(0 0 0 /20%);
    background: none;
}

.form-label {
    width: 50%;
    color: #fff;
    background:none;
    font-size: 12px;
}

.form-control {
    height: 25px;
    width: 1080px;
    padding: 10px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 2;
    font-size: small;
}

.media-form {
    display: block;
    background: #252525;
    position: fixed;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #000;
    z-index: 1;
}

.media-title {
    color: #fff;
}

.media-content {
    display: flex;
    max-width: 500px;
    overflow-x: scroll;
    max-height: 300px;
}

.media-content::-webkit-scrollbar {
    display: none;
}

.media-item-wrapper {
    position: relative;
    margin-right: 20px;
}

.media-item {
    margin-left: 20px;
    height: 80px;
    width: 120px;
}

.delete-media-btn {
    position: absolute;
    border-radius: 100%;
    max-height: 20px;
    max-width: 20px;
    font-size: 10px;
    align-items: center;

}

.mb-2{
    display: flex;
    flex-direction: row;
    background:none;
}

form{
    background: none;
}

#ngay{
    color: white;
    background: none;
}

.form-label-btn{
    margin-left: -30%;
}

.thumbnail-class {
    background:none;
    color: #0085FF;
}

.media-class {
    background:none;
    color: #0085FF;
}

#thumbnail-btn {
    display: none;
}
#media-btn {
    display: none;
}

textarea::-webkit-scrollbar{
    width: 0px;
}
.update-btn {
    font-size: 13px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    color: #fff ;
    background-color: #0085FF;
    float: right;
    border: none;
    margin-left: 20px;
    text-align: center;
}

.cancel-btn {
    font-size: 13px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    color: #fff ;
    background-color: #FF0000;
    float: right;
    border: none;
    text-align: center;
}