.img-detail { grid-area: img;}
.info-detail {grid-area: info;}
.more-detail { grid-area: more;}

.detail-container {
    display: grid;
    grid-template-areas: 
    "img img img info"
    "img img img info"
    "more more more more"
    "more more more more";
    background: #505050;
}

.p10 {
    padding: 10px;
}

.game-title-detail, .info {
    color: #fff;
    background: #252525;
    margin-bottom: 0;
}

.info-detail {
    min-width: 500px;
    width: 100%;
    background: #252525;
}

.thumbnail-img {
    width: 800px;
    object-fit: cover;
    height: 500px;
    background: #252525;
    border-radius: 0px;
    padding: 20px;
}

.detail-img {
    width: 200px;
    height: 120px;
    padding: 5px;
}

.image-detail {
    background: #252525;
}

.detail-img-wrapper {
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    max-height: 200px;
    overflow-x: scroll;
    display: flex;
    background: #252525;
}

.game-description {
    font-size: 20px;
    color: #fff;
    margin-left: 20px;
}

.description, .esrb {
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
}

.progess-btn {
    display: flex;
    justify-content: center;
    padding: 40px;
}

::-webkit-scrollbar {
    width: 10px;
    display: block;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }