.filter-container {
    padding-top: 50px;
    background: #252525;
}
.filter-item {
    list-style-type: none;
    max-height: 128px;
    overflow-y: scroll;
    margin-bottom: 0px;
}

.filter-item > li {
    padding: 5px;
    color: rgb(185, 185, 185);
    cursor: pointer;
}

.filter-item > li:hover {
    color: #fff;
}

h6 {
    padding-left: 20px;
}

.filter-item > li:active {
    color: #fff;
}

.filter-platform {
    margin-top: 50px;
    
}

/* Platform */

#ch-pf {
    display: none;
}

#ch-pf:checked ~ .more-pf {
    display: block;
}

#ch-pf:checked ~ label {
    display: none;
}

.more-pf {
    display: none;
}

/* Genre */

#ch-g {
    display: none;
}

#ch-g:checked ~ .more-g {
    display: block;
}

#ch-g:checked ~ label {
    display: none;
}

.more-g {
    display: none;
}

/* Tag */
#ch-t {
    display: none;
}

#ch-t:checked ~ .more-t {
    display: block;
}

#ch-t:checked ~ label {
    display: none;
}

/* Rating */

#ch-r {
    display: none;
}

#ch-r:checked ~ .more-r {
    display: block;
}

#ch-r:checked ~ label {
    display: none;
}

/* Publisher */

#ch-p {
    display: none;
}

#ch-p:checked ~ .more-p {
    display: block;
}

#ch-p:checked ~ label {
    display: none;
}

.more-p {
    display: none;
}


.more-r {
    display: none;
}


.more-t {
    display: none;
}


label {
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #7d7d7d;
}

label:hover {
    color: #fff;
}
