.footer-container {
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;    
    margin-bottom: -10%;
  }
  
  .footer-links {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: -30px;
  }
  
  .footer-link-wrapper {
    display: flex;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    padding: 10px 0 20px 5px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer-link-items h2 {
    margin-bottom: 12px;
  }
  
  .footer-link-items > h2 {
    color: #AAEB57;
    font-size: 0.9rem;
  }
  
.footer-link-items a {
  background-color: #242424;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
  }
  
.footer-link-items a:hover {
    color: #0085FF;
    transition: 0.3s ease-out;
  }
  
  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 24px;
  }

  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 10px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  .website-rights {
    color: #828282;
    margin-bottom:  10px;
    font-size: 12px;
    align-items: start;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }