﻿a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

Navbar, a {
  background: #000;
}

.container {
  padding: 0px;
}

.nav {
  background: black;
  margin-bottom: none;
}

.flex-sm-row-reverse {
  background: #000;
}

.navbar-logo {
  color: #fff;
  background: #000;
  margin: 0px;
}

.navbar-logo:hover {
  color: #fff;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

