.rent-info { grid-area: info;}
.rent-method {grid-area: method;}
.rent-game { grid-area: game;}

.rent-container {
    display: grid;
    grid-template-areas: 
    "info info info game game"
    "info info info game game"
    "method method method game game"
    "method method method game game";
}

.rent-title {
    background: #252525;
    color: #fff;
    padding: 30px;
    margin-bottom: 0px;
}

.info-title, .deli-title {
    color: #fff;
    z-index: 1;
    padding: 10px;
    background: #505050;
    margin-bottom: 0px;
}

.rent-info, .rent-method {
    padding: 0px 30px 30px 30px;
    background: #252525;
}

form {
    background: #505050;
}

.period {
    padding-bottom: 30px;
}

#period {
    width: 75%;
    color: #000;
    background: #D9D9D9;
    outline: none;
    border: none;
    padding: 7px;
    border-radius: 5px;
}

#fullname, #tel, #email, #address {
    padding: 5px;
    color: #000;
    background: #D9D9D9;
    border-radius: 5px;
}

#address {
    width: 81%;
}

#tel {
    width: 83.7%;
}

#email {
    width: 82.2%;
}

#fullname {
    width: 81%;
}

label {
    color: #fff;
    margin-right: 10px;
}

label:hover {
    color: #fff;
}

.store, .home {
    width: 100%;
    font-size: 16px;
}

#deli-store, #deli-home {
    width: 30px;
}



#deli-store:checked ~ .date {
    display: none;
}

.date-get {
    font-size: 16px;
    padding-left: 30px;
}

#date-get {
    padding: 5px;
    color: #000;
    background: #D9D9D9;
    border-radius: 5px;
    width: 150px;
}

/* Game */
.rent-game {
    padding-right: 30px;
    background: #252525;
    
}

.game-img {
    display: block;
    float:left;
    margin: 20px;
    border-radius: 5px;
}

h4 {
    color: #fff;
    z-index: 1;
    padding: 20px;
    background: #505050;
    margin-bottom: 0px;
}

.game-title {
    color: #fff;
    padding: 50px 10px 10px 10px;
    background: #505050;
    margin-bottom: 0px;
}

.genre {
    color: #fff;
    padding: 10px;
    background: #505050;
    margin-bottom: 0px;
}

.game-info {
    background: #505050;
    border-bottom: 2px solid #747474;
    min-height: 200px;
}

.cost-info {
    padding-top: 70px;
    background: #505050;
    padding-bottom: 40px;
    border-bottom: 2px solid #747474;
}

.cost {
    padding: 10px 20px;
}

.btn-area {
    margin-top: 0;
    padding-top: 20px;
    background: #252525;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
}

.btn-area {
    display: flex;
    justify-content: center;
}

.confirm-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #ff9900;
    color: #fff;
    min-width: 90px;
}

.confirm-btn:hover {
    background: #c27400;
}

.cancel-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #ff0000;
    color: #fff;
    min-width: 90px;
    margin-left: 30px;
}

.cancel-btn:hover {
    background: #ad0000;
}
